.example-card {
    /* max-width: 400px; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .center{
    width: 75%;
    margin: 10px auto;
  }
  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }